#container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 3px;
    grid-template-rows: auto auto;
    width: 100%;


}
.content{
    display: grid;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
