#container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 90%;
    gap: 10px;
    margin: 30px;
    grid-template-rows:  33% 33% 33%;

    
}
.mainBoxes{
    background-color: blanchedalmond ;
    display: grid;
    grid-template-columns: auto auto ;
    padding: 15px;
    gap: 5px;
    align-items: center;
    justify-content: center;

    
    
}
.miniBoxes{
    height:max-content ;
    background-color: white;
    padding: 10px;
    max-width: 90%;
    
    
}
